<!DOCTYPE html>
<html>
  <head>
    <title>Edit<!-- TMPL_VAR blog-name --></title>
  </head>
  <body>
    <!-- TMPL_VAR navy-panel -->

    <div id="content">
      <form id="editor">

        <h2>Title:</h2>
        <input type="text" name="title" />
        <br />
        <h2>Body:</h2>
        <input type="text" name="body" />
        <br />
        <h2>Tags:</h2>
        <input type="text" name="tags" />
        <br />
        <input type="submit" />

      </form>
    </div>

  </body>
</html>
