<!DOCTYPE html>
<html>
  <head>
    <title><!-- TMPL_VAR blog-name --></title>
  </head>
  <body>
    <div id="navy-panel">
      <h1 id="blog-name"><a href="/"><!-- TMPL_VAR blog-name --></a></h1>
      <ul id="recent-article">
        <!-- TMPL_LOOP recent-article -->
        <li><a href="/p?page=<!-- TMPL_VAR url -->"><!-- TMPL_VAR title-cut --></a></li>
        <!-- /TMPL_LOOP -->
      </ul>
      <ul id="recent-reply">
        <!-- TMPL_LOOP recent-reply -->
        <li><!-- TMPL_VAR name -->:<!-- TMPL_VAR body-cut --></li>
        <!-- /TMPL_LOOP -->
      </ul>
    </div>

    <div id="content">
      <div id="article-list">
        <!-- TMPL_LOOP article-list -->
        <div class="blog-abstract">
          <h2><a href="/p?page=<!-- TMPL_VAR url -->"><!-- TMPL_VAR title --></a></h2>
          <div>
            <!-- TMPL_VAR body-cut -->
          </div>
          <!-- TMPL_VAR date -->
          <!-- TMPL_VAR time -->
        </div>
        <!-- /TMPL_LOOP -->
      </div>
    </div>

  </body>

</html>
