<!DOCTYPE html>
<html>
  <head>
    <title><!-- TMPL_VAR blog-name --></title>
  </head>
  <body>
    <!-- TMPL_VAR navy-panel -->

    <div id="content">
      <div id="article-list">
        <!-- TMPL_LOOP article-list -->
        <div class="blog-abstract">
          <h2><a href="/p?page=<!-- TMPL_VAR url -->"><!-- TMPL_VAR title --></a></h2>
          <div>
            <!-- TMPL_VAR body-cut -->
          </div>
          <!-- TMPL_VAR date -->
          <!-- TMPL_VAR time -->
        </div>
        <!-- /TMPL_LOOP -->
      </div>
    </div>

  </body>

</html>
