<!DOCTYPE html>
<html>
  <head>
    <title><!-- TMPL_VAR blog-name --></title>
  </head>
  <body>
    <!-- TMPL_VAR navy-panel -->

    <div id="content">
      <div id="article">
        <h1><!-- TMPL_VAR article-title --></h1>
        <div id="body">
          <!-- TMPL_VAR article-body -->
        </div>
        <!-- TMPL_VAR article-date -->
        <!-- TMPL_VAR article-time -->
      </div>
      <div id="reply">
        <ul>
          <!-- TMPL_LOOP reply-list -->
          <li><!-- TMPL_VAR name -->:<!-- TMPL_VAR body --></li>
          <!-- /TMPL_LOOP -->
        </ul>
      </div>
    </div>

  </body>
</html>
